@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;900&family=Poppins:wght@200;300;400;500;600;700&family=Vollkorn:wght@400;500;600;700;800;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.backgroundcolor {
    background-color: #800000;
}




/*---------------------------------------- navbar Styles-------------------------*/
.navbar {
    font-size: 2em;
    font-family: 'Nunito', sans-serif;
}

.navbar-toggler-icon {
    background-color: white;
    border-color: red;
}

.navbar-brand {
    color: #FFD700;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar .nav-link {
    color: #FFD700;
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}


.navbar .nav-link:hover {
    color: #FFFFFF;
    transform: scale(1.1);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  
}


.navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #FFD700, #FF6347);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


.navbar .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}





/*---------------------------------------- banner Styles-------------------------*/


.container-fluid.banner {
    height: 650px;
    position: relative;
    text-align: center;
    color: #fff;
    padding: 50px 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 650px;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
    z-index: 0;
    opacity: 0;
    transform: scale(1.2);
    
}

.banner-image.active {
    opacity: 1;
    transform: scale(1);
   
}

.heading {
    position: relative;
    top: 330px;
    font-size: 6em;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Vollkorn', serif;
}

.headingp {
    position: relative;
    top: 330px;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    font-weight: bold;

}

#maadurga {
    font-family: 'Nunito', sans-serif;
    color: rgb(245, 218, 41);
    font-weight: bold;
}

.text-gold {
    font-family: 'Nunito', sans-serif;
    color: #ffd700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}


/*---------------------------------------- image section Styles-------------------------*/
.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.gallery .heading1 {
    color: white;
    width: 50%;
    padding-bottom: 50px;
    padding-top: -50px;
    text-align: center;

}

.gallery .heading1 h2 {
    font-size: 30px;
    font-weight: bolder;
    border-bottom: 3px solid black;
}

.gallery h2 span {
    color: yellow;
    font-family: 'Nunito', sans-serif;

}


.image-gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.image-card {
    position: relative;
    width: 100%; 
    max-width: 300px; 
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.image-card:hover {
    transform: scale(1.05);
}

.image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 18px;
    font-weight: 500;
    opacity: 1;
    box-sizing: border-box; 
}


.custom-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.custom-modal-content {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 18px;
    overflow-y: auto; 
    max-height: 80vh; 
    padding: 20px;
    margin: 20px;
}

.gallery-image {
    width: 30%;
    height: auto;
    aspect-ratio: 4 / 3; 
    object-fit: cover; 
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}


.fullscreen-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.fullscreen-overlay.show {
    opacity: 1;
}

.fullscreen-image {
    max-width: 90%;
    max-height: 80vh;
    object-fit: contain;
    transform: scale(0);
    transition: transform 0.3s ease;
}

.fullscreen-overlay.show .fullscreen-image {
    transform: scale(1);
}


.download-btn {
    display: block;
    margin-top: 20px; 
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #800000; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.download-btn:hover {
    background-color: #5c0000;
    transform: scale(1.05);
}

.download-btn:active {
    background-color: #4d0000;
}


.fullscreen-overlay .download-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}


  

/*---------------------------------------- footer Styles-------------------------*/
.container-fluid.footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 30px 0;
}

.footer i {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
}

.googlemap {
    width: 100%;
    height: 300px;
    margin-top: 20px;
}

.site-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: #000000;
    text-align: center;
    color: silver;
    height: 50px;
    box-sizing: border-box;

}

.site-footer p {
    padding-top: 14px;
}





/*---------------------------------------- responsive Styles-------------------------*/
@media (max-width: 480px) {
    .container-fluid.banner {
        height: 650px;
        position: relative;
        text-align: center;
        color: #fff;
        padding: 50px 0;
        background-size: cover;
        background-position: center;
    }

    .heading {
        font-size: 3em;
    }

    .headingp {
        font-size: 1.3em;
    }

    .custom-modal-content {
        display: block; 
    }

    .gallery-image {
        width: 100%; 
        max-width: none; 
        margin-bottom: 10px; 
        aspect-ratio: auto; 
    }

    .footer i {
        font-size: 1.5em;
    }

  
}

@media (min-width: 481px) and (max-width: 768px) {
    .container-fluid.banner {
        height: 650px;
        position: relative;
        text-align: center;
        color: #fff;
        padding: 50px 0;
        background-size: cover;
        background-position: center;
    }

    .heading {
        font-size: 3em;
    }

    .headingp {
        font-size: 1.7em;
    }

    .custom-modal-content {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        gap: 10px; 
    }

    .gallery-image {
        width: 45%; 
        max-width: none; 
        margin-bottom: 10px; 
    }

}

@media (min-width: 769px) and (max-width: 992px) {
    .heading {
        font-size: 4em;
    }

    .headingp {
        font-size: 1.7em;
    }
    
    .custom-modal-content {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        gap: 15px; 
    }

    .gallery-image {
        width: 30%; 
        max-width: none; 
        margin-bottom: 15px; 
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .heading {
        font-size: 4em;
    }

    .headingp {
        font-size: 1.7em;
    }

    .custom-modal-content {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        gap: 18px; 
    }

    .gallery-image {
        width: 30%; 
        max-width: none; 
        margin-bottom: 20px; 
    }
}

@media (min-width: 1200px) {
    .heading {
        font-size: 5em;
    }

    .headingp {
        font-size: 2em;
    }

    .footer i {
        font-size: 2.5em;
    }
}


